/* about Page css Style */
.main {
  text-align: center;
}
.title {
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid purple;
  right: 0;
  margin: 0 auto;
}
